@use "/src/mixins.scss" as *;

.button{
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    & button{
        max-width: 240px;
        width: 100%;
        background: var(--theme-gradient-main, linear-gradient(116deg, #00B2FF 0.77%, #3532D3 99.05%));
        border: none;
        border-radius: 100px;
    }
}

.button__text{
    font-size: 14px;
}